<!-- Header
    ============================================= -->
<header id="header">
    <div id="header-wrap">
        <div class="container">
            <div class="header-row justify-content-lg-between">

                <!-- Logo
                ============================================= -->
                <div id="logo" class="order-lg-2 col-auto px-0 mr-lg-0">
                    <a href="{{ path('home') }}" class="standard-logo"><img src="{{ asset('images/logo.png') }}" alt="Khamuamua Logo"></a>
                    <a href="{{ path('home') }}" class="retina-logo"><img src="{{ asset('images/logo.png') }}" alt="Khamuamua Logo"></a>
                </div><!-- #logo end -->

                <div id="primary-menu-trigger">
                    <svg class="svg-trigger" viewBox="0 0 100 100"><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path></svg>
                </div>

                <!-- Primary Navigation
                ============================================= -->
                <nav class="primary-menu order-lg-1 col-lg-5 px-0" style="position:inherit;">

                    <ul class="menu-container">
                        <li class="menu-item">
                            <a class="menu-link" href="#"><div>Accueil</div></a>
                            <ul class="sub-menu-container">

                            </ul>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="#"><div>Qui suis-je ?</div></a>
                            <ul class="sub-menu-container">

                            </ul>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="#"><div>Portfolio</div></a>
                            <ul class="sub-menu-container">

                            </ul>
                        </li>
                    </ul>

                </nav>

                <nav class="primary-menu order-lg-3 col-lg-5 px-0" style="position:inherit;">

                    <div class="menu-container justify-content-lg-end">
                        <li class="menu-item">
                            <a class="menu-link" href="#"><div>Tarifs</div></a>
                            <ul class="sub-menu-container">

                            </ul>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="#"><div>A propos</div></a>
                            <ul class="sub-menu-container">

                            </ul>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="#"><div>Contact</div></a>
                            <ul class="sub-menu-container">

                            </ul>
                        </li>
                    </div>

                </nav><!-- #primary-menu end -->

            </div>
        </div>
    </div>
    <div class="header-wrap-clone"></div>
</header><!-- #header end -->